.container{
  display:grid;
  width:800px;
  grid-template-columns: 2fr 3fr 1fr;
  grid-template-rows: 140px 500px 120px;
  margin:0 auto;
  gap:30px 20px;
}
.header{
  grid-column:1/4;
  grid-row:1/2;
  background:#eedcb3;
}
.aside1{
  background:#00ffff;
}
.main{
  background:#00ffff;
}
.aside2{
  background:#00ffff;
}
.footer{
  grid-column:1/4;
  background:#eedcb3;
}